body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #001;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: white;
  text-decoration: none;
}

.header{
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.header .logo{
  font-size: 1.5rem;
  font-weight: 700;
}

.header .menu{
  display: flex;
  column-gap: 30px;
  font-size: 1.375rem;
  font-weight: 500;
}

.header .menu>*:hover{
  transition: all 400ms;
}

.header .menu>*:hover{
  color: wheat;
}

.page-banner{
  text-align: center;
  color: #ccc;
}

.mytodos{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px 50px;
}

.todo-card, .add-todo-card{
  width: 330px;
  background-color: #333;
  padding-bottom: 1rem;
  transition: 400ms ease-in-out;
  border: solid 5px transparent;
}

.add-todo-card{
  height: 300px;
  text-align: center;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-card img{
  width: 100%;
}

.todo-card.chosen{
  background-color: #888;
  border: solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(60deg, #b16ec4, #5f97b9);
}

.add-todo-card:hover,.todo-card:hover{
  transform: scale(1.05);
  color: #1ff;
}

.todo-name{
  font-size: 1.25rem;
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
}

.todo-showcase{
  display: block;
  width: 80%;
  margin: 30px auto;
  background-color: #444;
  padding-bottom: 2rem;
}

.todo-showcase img{
  display: block;
  width: 100%;
  margin: 10px auto;
  object-fit: cover;
}

.todo-show-text{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.search-bar{
  display: block;
  width: 50%;
  margin: 30px auto;
  border-radius: 50px;
  padding: 10px 20px;
  outline: none;
  font-size: 1.5rem;
  font-weight: 500;
}

.add-todo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
  background-color: #444;
  padding: 60px 0;
}

.add-todo-head{
  color: #eee;
  font-size: 1.5rem;
  font-weight: 500;
}

.inp-grp .inp-label{
  font-size: 1.25rem;
  color: #ddd;
  font-weight: 500;
  text-align: left;
  text-indent: 1.25rem;
}

.inp-grp input{
  margin-top: 6px;
  margin-bottom: 2px;
  font-size: 1.25rem;
  padding: 1rem 1.25rem;
  outline: none;
  border: none;
  border-radius: 30px;
}

.inp-error{
  text-indent: 1.125rem;
  font-size: 1rem;
  color: #f66;
  line-height: 1.125rem;
  opacity: 0;
}

.inp-error.show{
  opacity: 1;
}

.add-todo button{
  padding: 1rem 4rem;
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  border-radius: 4rem;
  background-color: #aaa;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.add-todo button:hover{
  background-color: white;
}