
.hero-sec{
    background-color: $lightish-blue;
    padding: 110px 0 180px 0;
    // Parallax
    background-image: url('../../assets/bg-hero.png');
    min-height: fit-content;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    // Turn Off parallax in mobile-devices
    @media (max-width: 700px){
        background-attachment: scroll;
    }
    
    .intro-sec{
        color: $darkish-blue;
        .intro-big{
            font-size: $font-giant;
            text-align: center;
            font-family: $font-rambla;
            font-weight: $font-bold;
            max-width: 59.4rem;
            margin: auto;
            line-height: 0.98em;

            &:before{
                content: " ";
                display: block;
                margin: 30px auto;
                margin-top: 0;
                height: 4px;
                width: 50px;
                background-color: $orangish-yellow;

            }
        }
        .intro-sm{
            text-align: center;
            font-size: $font-xl;
            margin-top: 20px;
        }
    }


    .search-sec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem 2rem 0 2rem;
        row-gap: 15px;

        
        .search-opts{
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 5px;
            
            .search-opt{
                background-color: $lightish-blue;
                color: $darkish-blue;
                font-size: $font-lg;
                font-weight: $font-medium;
                padding: 0.75rem 3rem;
                border: solid 2px $orangish-yellow;
                border-radius: 0.5rem;
                cursor: pointer;
            }
            
            .selected-opt{
                background-color: $orangish-yellow;
                color: $text-white;
                position: relative;

                &:after{
                    position: absolute;
                    top: calc(100% + 2px);
                    left: 50%;
                    transform: translateX(-50%);
                    display: block;
                    content: " ";
                    width: 0;
                    height: 0;
                    border-left: transparent solid;
                    border-right: transparent solid;
                    border-bottom: white solid;
                    border-width: 15.5px;
                }
            }
        }
    }
}