

.join-sec{
    background-color: $lightish-blue;
    height: fit-content;
    
    &>*{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 80px;

        @media (max-width:850px){
            row-gap: 160px;
        }
    }

    .join-intro{
        margin-top: 25px;
        font-size: $font-vixl;
        font-weight: $font-medium;
        text-align: center;
        color: $darkish-blue;
        // margin-bottom: 120px;

        &::after{
            display: block;
            content: " ";
            width: 50px;
            height: 3.5px;
            margin: auto;
            margin-top: 15px;
            background-color: $orangish-yellow;
        }
    }
}