* {
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: 'Eczar', serif;
  letter-spacing: 1.35px;
  box-sizing: border-box;
  text-decoration: none;
}

textarea {
  overflow-y: scroll;
  resize: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00050a;
  color: #def;
}


.info-bar {
  font-size: 1.5rem;
  text-align: center;

  &.danger {
    color: rgb(255, 124, 124)
  }

  &.sm {
    font-size: 1rem;
  }
}

.dual-grouped-input {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  column-gap: 20px;
}

.inp-grp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2px;
  width: 42ch;

  &.lg {
    width: 85%;
  }

  &.md {
    width: 34ch;
  }

  &.sm {
    width: 30ch;
  }

  label {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.35px;
  }

  textarea {
    width: 100%;
    height: 180px;
    display: block;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 15px;
    background-color: #123;
    font-size: 1rem;
    letter-spacing: 1.3px;
    color: #cde;
  }

  .error-inp {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    width: 100%;

    .inp-err {
      align-self: center;
      max-width: 90%;
      font-size: 0.85rem;
      line-height: 1rem;
      color: rgb(255, 124, 124);
    }
  }

  .joined-input {
    position: relative;
    width: 100%;

    .joined-item {
      display: flex;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      cursor: pointer;

      svg {
        font-size: 1rem;
      }
    }
  }

  input {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: #123;
    font-size: 1rem;
    letter-spacing: 1.3px;
    color: #cde;
  }
}

.idea-bar {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: #123;
  border-radius: 20px;
  padding: 20px;
  transition: all 400ms ease-in-out;

  &:hover {
    -webkit-box-shadow: 0px 0px 8px 1px rgba(119, 136, 153, 1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(119, 136, 153, 1);
    box-shadow: 0px 0px 8px 1px rgba(119, 136, 153, 1)
  }

  .bar-top-sec {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1.35px;
    letter-spacing: 1.4px;
    word-spacing: 3px;

    a {
      transition: color 400ms ease-in-out;

      &:hover {
        color: #7cf;
      }
    }
  }


  .bar-mid-sec,
  .bar-btm-sec {
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;

    .author-meta {
      a {
        text-decoration: none;
        transition: color 250ms ease-in;

        &:hover {
          color: #7cf;
        }
      }
    }
  }

  .bar-btm-sec {
    .icon-meta {
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      line-height: 1rem;
      column-gap: 4px;
    }
  }
}

.users-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
}

.user-card {
  display: block;
  padding: 20px;
  background-color: #123;
  border-radius: 10px;

  .name {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  .username {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .joined,
  .location,
  .bio {
    text-align: center;
  }

  .card-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 30px;
    margin-top: 20px;

    .card-link {
      display: block;
      font-size: 0.85rem;
      cursor: pointer;
      transition: all 350ms ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.comment-form {
  margin-bottom: 50px;

  .comment-form-head {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
  }

  textarea {
    margin-left: 10px;
    width: 85%;
    height: 100px;
    display: block;
    border: none;
    outline: none;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    padding: 10px 15px;
    background-color: #123;
    font-size: 1rem;
    letter-spacing: 1.3px;
    color: #cde;
  }

  .btn-grps{
    margin: 20px 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 40px;

    button{
      padding: 12px 30px;
      font-size: 1rem;
      line-height: 1rem;
      background-color: #295;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 20px;
      transition: all 350ms ease-in-out;

      &.cancel{
        background-color: #567;
      }

      &:hover{
        transform: scale(1.1);
      }
    }
  }
}

.edit-profile-form{
  .head{
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
  }

  form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    .btn-grps{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      column-gap: 80px;

      button{
        background-color: #295;
        cursor: pointer;
        padding: 8px 30px;
        font-size: 1rem;
        line-height: 1rem;
        border: none;
        outline: none;
        border-radius: 15px;
        transition: all 350ms ease-in-out;

        &:hover{
          transform: scale(1.05);
        }

        &[type="button"]{
          background-color: #567;
        }
      }
    }
  }
}