.people-app{
    max-width: 800px;
    margin: auto;
    background-color: #333333;
    color: aliceblue;
}

a{
    color: aliceblue;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #666;
    margin-bottom: 2.5rem;   
}

.header .logo{
    color: antiquewhite;
    font-size: 1.5rem;
}

.header .menus{
    font-size: 1.375rem;
    display: flex;
    column-gap: 2rem;
    text-transform: capitalize;
}

.home{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.home-header{
    font-size: 1.5rem;
    font-weight: 600;
}

.my-people{
    display: flex;
    column-gap: 20px;
    background-color: #666;
    height: fit-content;
    padding: 1.5rem;
}

.my-people img{
    border-radius: 50%;
}

.my-people .top{
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.my-people .bottom{
    font-size: 1rem;
}

.search-body{
    padding: 1.5rem;
}

.search-section{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.search-section input{
    padding: 15px 12px;
    font-size: 1.175rem;
    min-width: 40ch;
}

.search-section button{
    padding: 15px 40px;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
}

.search-section button:hover{
    background-color: #afe;
}

.search-content{
    min-height: 400px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.search-content .empty-msg{
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    padding-top: 120px;
}

.infinite1{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    padding: 2rem;
}