header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    background-color: black;
    color: white;
}

.head-logo{
    font-size: 1.375rem;
    font-weight: 700;
    color: #2ff;
}

.head-menu{
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.head-menu>*{
    cursor: pointer;
    transition: 400ms ease-in-out;
}

.head-menu>*:hover{
    color: #2ff;
}