
$pri-bright: #ffffff;
$sec-bright: #ACA9BB;
$teritiary-bright: #dfdaf2;
$pri-dark: #474554;
$ultra-dark: #26252f;
$hov-col: #FF00E9;
$cust-light-green: #0aefa3;
$cust-green: #00ac7c;
$cust-dark-green: #006b44;
$dark-red: #a33;
$bright-red: #f66;
