// color-schemes
$pri-dark: #2C3333;
$sec-dark: #395B64;
$pri-bright: #E7F6F2;
$sec-bright: #A5C9CA;

// font-size
$font-sm: 0.75rem;
$font-md: 0.875rem;
$font-rg: 1rem; // 16px
$font-lg: 1.25rem; // 20px
$font-xl: 1.5rem; // 24px
$font-xxl: 1.75rem; // 28px
$font-giant1: 3.5rem; // 56px
$font-giant2: 2.5rem; // 40px

// font-weight
$text-reg: 400;
$text-med: 500;
$text-sbold: 600;
$text-bold: 700;