@import './config';

.footer{
    background-color: $darkish-pink;

    .pri-footer{
        margin: 90px 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        column-gap: 10px;

        @media (max-width: 1300px){
            flex-wrap: wrap-reverse;
            justify-content: space-evenly;
            // flex-direction: column;
            // justify-content:left;
            // flex-wrap: wrap;
            row-gap: 110px;
        }
        
        .col{
            width: 45.5ch;
            display: flex;
            flex-direction: column;
            row-gap: 35px;
            align-items: flex-start;
        }

        .pri-row{
            display: flex;
            flex-direction: column;
            row-gap: 1.125rem;
        }

        .pri-head{
            display: block;
            color: $text-white;
            font-size: $font-xl;
            font-weight: $font-medium;
        
            &::after{
                display: block;
                margin-top: 12px;
                background-color: $orangish-yellow;
                content: " ";
                width: 5ch;
                height: 1px;
            }
        }

        .row-list{
            display: flex;
            flex-direction: column;
            row-gap: 1.25rem;
            
            a{
                color: rgba(255, 255, 255, 0.75);
                transition: color 250ms ease-in;
            
                &:hover{
                    color: $orangish-yellow;
                }
            }

        }
        
        .col-1{
            .contact{
                .address{
                    display: flex;
                    flex-direction: column;
                    row-gap: 6px;
                    font-size: $font-md;
                    color: $text-white;
                    .email{
                        color: $orangish-yellow;
                    }
                }
            }

            .socials{
                display: flex;
                align-items: center;
                column-gap: 1rem;
            }

            .footer-logo{
                width: inherit;
                img{
                    width: 80%;
                }
            }
        }

        .footer-blogs{
            width: 45ch;
            & *{
                width: 45ch;
            }

            .f-blog{
                border-bottom: solid white 1px;
                padding-top: 15px;
                padding-bottom: 20px;
                color: white;
                
                .f-blog-head{
                    font-size: $font-md;

                    &:after{
                        display: block;
                        content: " ";
                        background-color: white;
                        width: 10ch;
                        height: 3px;
                        margin-top: 5px;
                    }
                }

                .f-blog-cont{
                    font-size: $font-xl;
                    font-weight: $font-medium;
                    max-width: 38ch;
                    margin-top: 10px;
                }
            }
        }
    }

    .secondary-footer{
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        row-gap: 30px;
        align-items: center;
        color: white;
        flex-wrap: wrap-reverse;
        font-size: $font-md;

        @media (max-width:650px){
            justify-content: center;
        }

        .terms{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            a{
                color: $orangish-yellow;
            }
        }
    }
}

.social-icon{
    font-size: $font-xxl;
    line-height: 24px;
    padding: 6px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
}

.linkedin{
    background-color: #0072b1;
    color: white;
}

.twitter{
    background-color: #00acee;
    color: white;
}