.nav2{

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #000f15;

        .head-g-1{
            display: flex;
            align-items: center;
            column-gap: 25px;
            
            .sidebar-btn{
                display: flex;
                align-items: center;
                height: fit-content;
                width: fit-content;
                font-size: 1.5rem;
                line-height: 1.45rem;
                cursor: pointer;
            }
            .head-logo{
                font-size: 1.5rem;
                line-height: 1.45rem;
                color: #5bf;
            }
        }

        .head-g-2{
            display: flex;
            align-items: center;
            column-gap: 40px;
            font-size: 1.15rem;
            line-height: 1rem;

            .header-cta{
                font-size: 0.85rem;
                line-height: 0.9rem;
                background-color: rgba($color: #5bf, $alpha: .08);
                color: #5bf;
                padding: 5px 15px;
                border: solid 1.5px #5bf;
                border-radius: 5px;
                cursor: pointer;
                transition: all 200ms ease-in-out;

                &:hover{
                    background-color: #5bf;
                    border-color: #5bf;
                    color: #fff;
                }
            }

            .menu-icon{
                display: flex;
                font-size: 1.5rem;
            }

            .profile{
                font-size: 0.85rem;
                word-spacing: 1.85px;
                color: #fff;
                background-color: #f52;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .sidebar{
        background-color: #000f15;
        border-right: solid #000f15 1px;

        .more-btn{
            position: relative;

            .more-content{
                position: relative;
                padding: 20px 20px;
                display: flex;
                // align-items: center;
                column-gap: 26px;
                color: #aaa;
                cursor: pointer;
                background-color: transparent;
                z-index: 2;
   
                .more-icon{
                    content: " ";
                    border-left: 2px solid #aaa;
                    border-bottom: 2px solid #aaa;
                    width: 12px;
                    height: 12px;
                }

                .more-label{
                    font-size: 1rem;
                    line-height: 0.85rem;
                    min-width: fit-content;
                    width: 14ch;
                    text-transform: uppercase;
                    color: #777;
                }
            }

            .background{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background-color: #1d272c;
                // opacity: 0.25;
                display: block;
                content: " ";
                pointer-events: none;
                z-index: 1;
            }
        }

        .side-menu{
            position: relative;

            .content-box{
                position: relative;
                padding: 15px 20px;
                display: flex;
                column-gap: 15px;
                align-items: center;
                color: #aaa;
                cursor: pointer;
                background-color: transparent;
                z-index: 2;
                
                .menu-icon{
                    font-size: 1.35rem;
                    display: flex;
                    align-items: center;
                }
                
                .menu-name{
                    font-size: 1.1rem;
                    line-height: 0.85rem;
                    min-width: fit-content;
                    width: 14ch;
                    text-transform: uppercase;
                }
            }

            .right-arrow{
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%) rotate(-45deg);
                content: " ";
                width: 8px;
                height: 8px;
                border-right: solid #aaa 2px;
                border-bottom: solid #aaa 2px;
                z-index: 2;

            }
            
            .background{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background-color: #1d272c;
                // opacity: 0.25;
                display: block;
                content: " ";
                pointer-events: none;
                z-index: 1;
            }

            .tool-tip{
                position: absolute;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                top: 0;
                left: calc(100% + 10px);
                color: #bbb;
                background-color: #000f15;
                // box-sizing: content-box;
                min-width: fit-content;
                padding: 5px 0;
                text-transform: uppercase;
                letter-spacing: 1.65px;
                border: #000f15 solid 1px;
                border-radius: 3px;

                .single, .multi-head{
                    display: block;
                    min-width: fit-content;
                    width: 15ch;
                    padding: 10px 15px;
                    box-sizing: content-box;
                }
                .single{
                    font-size: 0.85rem;
                    transition: all 300ms ease-in-out;
                    cursor: pointer;

                    &:hover{
                        background-color: #1d272c;
                    }
                }

                .multi-head{
                    padding: 5px 15px;
                    color: #999;
                    font-weight: 600;
                    font-size: 1rem;
                }
            }

            .attacher{
                position: absolute;
                color: #fff;
                top: 50%;
                left: 100%;
                transform: translateY(-50%);
                border-right: 10px solid #000f15;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
            }
        }
    }
}